@import url('https://fonts.googleapis.com/css?family=Oxygen');
body,
html {
    background-color: #879E03;
    font-family: "Oxygen";
    cursor: pointer;
}

#outter-circle {
    top: 75px;
    margin: auto;
    position: relative;
    width: 480px;
    height: 480px;
    border-radius: 100%;
    text-align: center;
    background-color: #333;
    box-shadow: 5px 5px 10px #444;
}

.full-part {
    position: relative;
    top: 20px;
}

.quarter {
    position: relative;
    width: 220px;
    height: 220px;
    background-color: #555;
    border: 10px solid #333;
    filter: brightness(70%);
}

.lighten {
    filter: brightness(150%);
}

.darken {
    filter: brightness(70%);
}

.inline {
    display: inline-block;
}

.top-left {
    border-top-left-radius: 100%;
}

.top-right {
    border-top-right-radius: 100%;
}

.bottom-left {
    border-bottom-left-radius: 100%;
}

.bottom-right {
    border-bottom-right-radius: 100%;
}

.inner-circle {
    margin: -120px 0px 0px -120px;
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
    border: 16px solid #000;
    background: radial-gradient(circle at 100px 100px, #fff, #000);
}

.green {
    background-color: #24FF7F;
}

.red {
    background-color: #FF1E08;
}

.yellow {
    background-color: #FFE505;
}

.blue {
    background-color: #0F6AFF;
}

#middle-control {
    display: -webkit-inline-box;
    margin: auto;
}

#digital-display {
    width: 56px;
    height: 40px;
    border-radius: 10px;
    color: #FF1D08;
    text-align: center;
    background-color: #666;
    border: 1px solid #000;
    font-size: 175%;
}

.small-but {
    width: 8px;
    height: 8px;
    position: relative;
    border-radius: 100%;
    border: 1px solid #333;
    margin-bottom: 3px;
    background-color: #782C0C;
}

.round-but {
    width: 25px;
    height: 25px;
    position: relative;
    border-radius: 100%;
    border: 2px solid #333;
    margin-bottom: 8px;
    box-shadow: 2px 2px 5px #444;
}

.balance {
    margin-left: 14px;
    text-align: -webkit-center;
}

label {
    text-align: center;
    font-size: 1.0em;
}

h1 {
    font-size: 300%;
}

#onOff-control {
    margin-top: 10px;
}

#slide-bar {
    background-color: #333;
    border: 2px solid #222;
    width: 50px;
    height: 20px;
    margin: 0 6px -4px 5px;
}

#slider {
    float: left;
    height: 100%;
    width: 45%;
}

.blink {
    animation: blink 500ms 3 alternate;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* Scaling for Mobile */

@media screen and (max-width: 600px) {
    #outter-circle {
        top: 35px;
        -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        -o-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        transform-origin: 0 0;
        left: 50%;
        margin-left: -144px;
        margin-top: 80px;
    }
}

.non-click {
    pointer-events: none;
}